* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-container {
  margin-top: 10% !important;
  /* border: 0.5px solid rgba(0, 0, 139, 0.297) !important;
  border-radius: 20px;
  padding: 0 !important;
  box-shadow: 6px 6px 15px;
  height: 55vh;
  width: auto !important; */
}
.json-form {
  border: 2px solid black !important;
  width: 100% !important;
  height: 15rem;
  box-shadow: 5px 5px 15px;
}

.submit-btn {
  width: 100%;
}

.submit-btn:hover {
  background-color: white !important;
  color: black !important;
  box-shadow: 2px 2px 10px #010e3b !important;
  transition: 0.5s;
}

/* Navbar */

.nav {
  height: 50px;
  width: 100%;
  background-color: #0d6efd;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline !important;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 10px 10px;
  text-decoration: none;
  color: #efefef;
  transition: .5s !important;
}

.nav > .nav-links > a:hover {
  background-color: #010e3b;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    margin-left: 0rem;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


/* Footer */


.footer-class{
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;

}


/* About Page */

.about-container{
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  padding: 15rem 15rem;
  box-shadow: 1px 1px 35px;
  margin-top: -5rem ;

}

@media (max-width:600px) {
  .about-container{
    padding: 2rem !important;
    margin-top: 0rem ;
    margin-bottom: 4rem;
  }
}